#header {
 background-color:black;
 color:white;
 text-align:center;
 padding:5px;
 }
 #nav ul{
 line-height:30px;
 background-color:#eee;
 float:left;
 padding:5px;
 }
 #section {
 width:350px;
 float:left;
7
 padding:10px;
 }
 #footer {
 background-color:black;
 color:white;
 clear:both;
 text-align:center;
 padding:5px;
 }